<div *ngIf="this.hero != null">

  <app-nav></app-nav>

  <div>
    <h2>
      {{ hero.name | uppercase }}
    </h2>
    <div>id: {{ hero.id }}</div>
    <div>
      <label for="hero-name"> Nombre: </label>
      <input
        class="form-control"
        id="formGroupExampleInput"
        [(ngModel)]="hero.name"
        placeholder="name"
      />
    </div>

    <button
      type="button"
      class="btn btn-dark"
      (click)="save()"
      style="margin-top: 1%"
    >
      Guardar y volver
    </button>
  </div>
</div>
